<footer class="footer mt-auto ">
  <div class="container text-center py-0">
    <div class="f-info-socials mb-2">
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="#"><i class="fa-brands fa-facebook"></i></a>
      <a href="#"><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div class="f-info-brandname mb-1">WanderLust Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy" class="me-3">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
