<style>
  #filters-nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ebebeb;
  background: #fff;
  padding: 0 2rem;
}

#filters {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: auto;
  scrollbar-width: none;
}

#filters::-webkit-scrollbar {
  display: none;
}

.filter {
  text-decoration: none;
  color: #717171;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75rem;
  font-weight: 500;
  transition: 0.2s ease;
  opacity: 0.85;
}

.filter i {
  font-size: 1.2rem;
  margin-bottom: 4px;
}

.filter:hover {
  color: #000;
  opacity: 1;

}
</style>
</head>
<body>

<nav id="filters-nav">
  <div id="filters">


    <a href="/listings" class="filter">
      <i class="fa-solid fa-fire"></i>
      Trending
    </a>

    <a href="/listings?category=Rooms" class="filter">
      <i class="fa-solid fa-bed"></i>
      Rooms
    </a>

    <a href="/listings?category=Iconic Cities" class="filter">
      <i class="fa-solid fa-city"></i>
      Iconic Cities
    </a>

    <a href="/listings?category=Mountains" class="filter">
      <i class="fa-solid fa-mountain"></i>
      Mountains
    </a>

    <a href="/listings?category=Castles" class="filter">
      <i class="fa-solid fa-chess-rook"></i>
      Castles
    </a>

    <a href="/listings?category=Amazing Pools" class="filter">
      <i class="fa-solid fa-water-ladder"></i>
      Amazing Pools
    </a>

    <a href="/listings?category=Camping" class="filter">
      <i class="fa-solid fa-campground"></i>
      Camping
    </a>

    <a href="/listings?category=Farms" class="filter">
      <i class="fa-solid fa-tractor"></i>
      Farms
    </a>

    <a href="/listings?category=Arctic" class="filter">
      <i class="fa-regular fa-snowflake"></i>
      Arctic
    </a>

    <a href="/listings?category=Beach" class="filter">
      <i class="fa-solid fa-umbrella-beach"></i>
      Beach
    </a>


    <a href="/listings?category=Treehouses" class="filter">
      <i class="fa-solid fa-tree"></i>
      Treehouses
    </a>


    <a href="/listings?category=Historical" class="filter">
      <i class="fa-solid fa-landmark"></i>
      Historical
    </a>


  </div>
</nav>